---
import { getArticlesSorted } from "@common/articles";
import ArticleListing from "@components/ArticleListing.astro";
import BaseLayout from "@layouts/BaseLayout.astro";

export const prerender = false;

const { tag } = Astro.params;
if (tag === undefined) return Astro.redirect("/404");

const title = `Articles with tag: ${tag}`;
const description = `List of all articles tagged with ${tag}`;

const articles = (await getArticlesSorted()).filter((i) => i.data.tags.includes(tag));
---

<BaseLayout {title} {description}>
  <h1>{title}</h1>
  <ArticleListing {articles} />
</BaseLayout>
