---
import { formatDate, loadImage } from "@common/articles";
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

interface Props {
  articles: CollectionEntry<"articles">[];
}

const { articles } = Astro.props;
---

{articles.length === 0 && <p>No articles found.</p>}
{
  articles.map(async (page) => (
    <article>
      {page.data.image && <Image src={await loadImage(page.data.image)} alt="Article thumbnail" height={150} />}
      <div class="article-desc">
        <h3>
          <a href={`/${page.collection}/${page.slug}/`}>{page.data.title}</a>
        </h3>
        <p>
          <time datetime={page.data.date.toISOString()}>{formatDate(page.data.date)}</time> - {page.data.description}
        </p>
      </div>
    </article>
  ))
}

<style>
  article {
    border-bottom: 2px solid #555;
    padding: 15px;
    display: grid;
    gap: 10px;
    grid-template-columns: 210px 1fr;

    .article-desc {
      grid-column: 2;

      a {
        color: #555;
      }
    }
  }
</style>
