---
import { formatDate, loadImage } from "@common/articles";
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";
import Placeholder from "@img/placeholder.svg";

interface Props {
  articles: CollectionEntry<"articles">[];
  num?: number;
}

const { articles, num } = Astro.props;
articles.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());

// Take most recent articles
if (num !== undefined) articles.splice(num);
---

<div class="page-listing">
  {articles.length === 0 && <p>No articles found.</p>}
  {
    articles.map(async (page) => (
      <article>
        <Image src={(await loadImage(page.data.image)) ?? Placeholder} alt="Article thumbnail" height={200} />
        <a href={`/${page.collection}/${page.slug}`}>{page.data.title}</a>
        <div>{page.data.description}</div>
        <time datetime={page.data.date.toISOString()}>{formatDate(page.data.date)}</time>
      </article>
    ))
  }
</div>

<style>
  .page-listing {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6px;
    justify-content: center;

    article {
      width: max(20%, 300px);
      border: 2px solid #555;
      padding: 15px;
      display: flex;
      flex-direction: column;
      gap: 12px;

      img {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
</style>
