---
import "@styles/asciidoc.pcss";
import "@fortawesome/fontawesome-free/css/solid.css";
import "@fortawesome/fontawesome-free/css/fontawesome.css";
import BaseLayout from "./BaseLayout.astro";
import ChipContainer from "@components/ChipContainer.astro";
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";
import { formatDate } from "@common/articles";
import path from "path";

interface Frontmatter {
  doctitle: string;
  description: string;
  image?: ImageMetadata;
  revdate: Date;
  tags: string;
  stylesheets?: string;
}

interface Props {
  frontmatter: Frontmatter;
}

const { doctitle, description, image, revdate, tags, stylesheets } = Astro.props.frontmatter;
---

<BaseLayout title={doctitle} {description} {stylesheets} imageURL={image?.src}>
  <h1>{doctitle}</h1>
  {image && <Image src={image} height="350" alt="Article thumbnail" />}
  <p>Published <time datetime={revdate.toISOString()}>{formatDate(revdate)}</time></p>
  <p><a href={`/pdf/${path.basename(Astro.url.pathname)}.pdf`} class="download-pdf">Download PDF</a></p>
  <ChipContainer tags={tags} />
  <p>{description}</p>
  <slot />
</BaseLayout>

<style>
  .download-pdf {
    text-decoration: none;
    background-color: #888;
    border: 2px solid #555;
    color: #fff;
    padding: 4px 8px;
  }
</style>
