---
import "@styles/global.pcss";
import PageFooter from "@components/PageFooter.astro";
import Placeholder from "@img/placeholder.svg";
import Sidebar from "@components/SideBar.vue";
import { getArticlesSorted } from "@common/articles";

interface Props {
  title: string;
  description: string;
  imageURL?: string;
  stylesheets?: string;
}

const { title, description, imageURL, stylesheets } = Astro.props;

const imageURLWithSite = Astro.site?.toString().slice(0, -1) + (imageURL ?? Placeholder.src);
const canonicalURL = new URL(Astro.url.pathname, Astro.site);

// Specific attributes are picked out to avoid unnecessary bloat in generated HTML
const articles = (await getArticlesSorted()).map((i) => [i.data.doctitle, i.data.description, i.data.tags, i.id]);

const styles: string[] = [];
if (stylesheets)
  for (const i of stylesheets.split(" ")) styles.push((await import(`../styles/${i}.pcss?inline`)).default);
---

<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content={title} />
    <meta name="twitter:title" content={title} />
    <meta name="description" content={description} />
    <meta property="og:description" content={description} />
    <meta name="twitter:description" content={description} />
    <meta property="og:image" content={imageURLWithSite} />
    <meta name="twitter:image" content={imageURLWithSite} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:site_name" content="Aidan Sun" />
    <link rel="canonical" href={canonicalURL} />
    <style is:inline set:html={styles.join("\n")}></style>

    <!-- Icons -->
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png" />
    <link rel="icon" type="image/png" sizes="512x512" href="/android-chrome-512x512.png" />
    <link rel="manifest" href="/manifest.webmanifest" />
    <meta name="theme-color" content="#555" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
  </head>
  <body>
    <Sidebar {articles} client:load />
    <main>
      <slot />
      <PageFooter />
    </main>
  </body>
</html>
